<h1 style="text-align: center;"> Assignment 1</h1>

<h3 style="text-align: center;"> Questions 1</h3>

## 1.	Basic Arithmetic

###	Write a Python script to perform the following operations:

In [1]:
#	Add 15 and 23.
a = 15
b = 23
print("Addition of 15 and 23 is:", a+b)

Addition of 15 and 23 is: 38

In [2]:
# 	Subtract 48 from 72.
a = 72
b = 48
c = 72-48
print(c)

24

In [3]:
#	Multiply 7 by 6.
a = 7
b = 6
c = a*b
print(c)

42

In [4]:
#	Divide 144 by 12.
a = 144
b = 12
c = a/b
print(c)

12.0

In [5]:
#	Find the remainder when 50 is divided by 9.
a = 50
b = 9
c = a%b
print(c)

5

## 2.	Simple Expressions


### Evaluate the following expressions and print the results:

In [6]:
# (8+3)×5
a = 8
b = 3
c = 5
d = (a+b)*5
print(d)

55

In [7]:
#(50−15)/5
a = 50
b = 15
c = 5
d = (a-b)/5
print(d)

7.0

In [8]:
# 46%6
a = 46
b = 6
print(a%b)

4

## 3.	Concatenation with Strings

### 	Combine the following text with variables and print the output:

In [9]:
#	Define a variable name = "Alice" and age = 25. Print: "Alice is 25 years old."
name = "Alice"
age = 25
print(f"{name} is {age} years old ")

Alice is 25 years old

In [10]:
#	Define a variable city = "Paris" and print: "Alice lives in Paris."
name = "Alice"
city = "Paris"
print(f"{name} lives in {city}")

Alice lives in Paris

## 4.	Order of Operations

###	Calculate and print the results of the following:

In [13]:
# 5+2×5
a = 5
b = 2
c = 5
print(a+b*c)

15

In [15]:
# (5+2)×3
a = 5
b = 2
c = 3
print((a+b)*c)

21

In [16]:
# (100−(25×3)+10100 
a = 100
b = 25
c = 3
d = 10100
e = (a-(b*c)+10100)
print(e)

10125

In [17]:
# 8+(16/2)−(5×2)
a = 8
b = 16
c = 2
d = 5
e = a+(b/c)-(d*c)
print(e)

6.0

##	5.Decimal Division and Integer Division

###	Use print to display the difference between:

In [19]:
#	15/415  (decimal division)
a = 15
b = 415
print(15/415)

0.03614457831325301

In [20]:
# 15//415  (integer division)
a = 15
b = 415
print(15//415)

0

## 6.	Price Calculation

###	Write a program to calculate the total cost of buying 3 items:

In [21]:
# Item 1 costs $12.49, Item 2 costs $8.99, and Item 3 costs $14.55.

item1 = 12.49
item2 = 8.99
item3 = 14.55

print(item1 + item2 + item3)

36.03

In [22]:
#	Calculate the subtotal, apply a sales tax of 8%, and display the total cost
sub_total = 36.03
tax_rate = 0.08
sale_tax = sub_total* tax_rate
total_cost = sub_total+sale_tax
print(sale_tax)
print(total_cost)

2.8824
38.9124

## 7. Time Conversion

In [24]:
#	Convert 645 minutes into hours and minutes.
min = 645 
hour = min/60
print(hour)
mins = min-(10*60)
print(mins)

10.75
45

## 8. Distance and Speed

In [27]:
# 	If a car travels 150 miles in 2.5 hours, calculate and print:Its average speed in miles per hour.
distance = 150
time = 2.5 
avg = distance/time
print(f'the avg speed of {avg}')

the avg speed of 60.0

In [28]:
# How long it would take to travel 500 miles at the same speed
dis = 500
speed = 60
time = dis/speed
print(time)

8.333333333333334

## 9. Celsius to Fahrenheit

In [29]:
# Converting degrees Celsius to Fahrenheit involves using the formula:
# Fahrenheit=(Celsius×9/5)+32\text{Fahrenheit} = (\text{Celsius} \times 9/5) + 32Fahrenheit=(Celsius×9/5)+32
 

celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius:.2f}°C = {fahrenheit:.2f}°F")

56.00°C = 132.80°F