# Assignment

## Part A: Series Creation

1.	Create a Pandas Series using a list of 10 random integers between 10 and 100.
- 
	Display the Series and its data type.

In [2]:
import pandas as pd
import random

In [4]:
data = [random.randint(10, 100) for _ in range(10)]
pd.Series(data)

0    41
1    13
2    51
3    55
4    19
5    41
6    28
7    19
8    83
9    24
dtype: int64

In [7]:
type(data)

list

2.	Create a Series using a dictionary where keys are names of fruits and values are their prices per kg (e.g., {"Apple": 120, "Banana": 50, "Cherry": 200}).
-	Display the Series.

In [9]:
dict ={"Apple": 120, "Banana": 50, "Cherry": 200}
pd.Series(dict)

Apple     120
Banana     50
Cherry    200
dtype: int64

3.	Create a Series from a NumPy array with 15 evenly spaced values between 1 and 50.
-	Add a custom index: ['A', 'B', 'C', ..., 'O'].

In [10]:
import pandas as pd
import numpy as np

s = pd.Series(np.linspace(1, 50, 15), index=list('ABCDEFGHIJKLMNO'))
print(s)

A     1.0
B     4.5
C     8.0
D    11.5
E    15.0
F    18.5
G    22.0
H    25.5
I    29.0
J    32.5
K    36.0
L    39.5
M    43.0
N    46.5
O    50.0
dtype: float64

# Part B: Series Indexing and Slicing

4.	Using the fruit prices Series created in Part A, perform the following:
-	Retrieve the price of "Cherry."
-	Update the price of "Banana" to 60.
-	Add a new fruit, "Orange," with a price of 80

In [11]:
dict ={"Apple": 120, "Banana": 50, "Cherry": 200}
pd.Series(dict)

Apple     120
Banana     50
Cherry    200
dtype: int64

In [12]:
cherry_price = dict["Cherry"]
print("Price of Cherry:", cherry_price)

Price of Cherry: 200

In [18]:
dict["Banana"]= 60
dict["orange"] = 80

In [19]:
pd.Series(dict)

Apple     120
Banana     60
Cherry    200
orange     80
dtype: int64

5.	Slice the Series of random integers (from Part A) to display:
-	The first 5 elements.
-	The last 3 elements.

In [20]:
data = [random.randint(10, 100) for _ in range(10)]
pd.Series(data)

0    95
1    64
2    40
3    74
4    41
5    22
6    54
7    19
8    84
9    32
dtype: int64

In [22]:
pd.Series(data[0:6])

0    95
1    64
2    40
3    74
4    41
5    22
dtype: int64

In [25]:
pd.Series(data[-3:])

0    19
1    84
2    32
dtype: int64

# Part C: Series Operations
6.	Perform the following operations on the random integer Series:
-	Calculate the mean, median, and standard deviation.
-	Identify all elements greater than the mean.

In [37]:
 mean= s.mean()
mean

25.5

In [38]:
s.median()

25.5

In [39]:
s.std()

15.652475842498529

In [41]:
print(s[s> mean])

I    29.0
J    32.5
K    36.0
L    39.5
M    43.0
N    46.5
O    50.0
dtype: float64

7.	Using two Series:
-	s1 = pd.Series([1, 2, 3, 4, 5])
-	s2 = pd.Series([5, 4, 3, 2, 1])

In [43]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([5, 4, 3, 2, 1])

In [44]:
s1+s2

0    6
1    6
2    6
3    6
4    6
dtype: int64

In [45]:
s1-s2

0   -4
1   -2
2    0
3    2
4    4
dtype: int64

In [46]:
s1*s2

0    5
1    8
2    9
3    8
4    5
dtype: int64

In [47]:
s1/s2

0    0.2
1    0.5
2    1.0
3    2.0
4    5.0
dtype: float64

# Part D: Filtering and Sorting
8.	From the fruit prices Series, filter and display:
-	Fruits that cost more than 100 per kg.
-	Fruits that cost less than or equal to 60 per kg.

In [58]:
dict =pd.Series({"Apple": 120, "Banana": 50, "Cherry": 200})
cost = dict[dict>100]
print(cost)

Apple     120
Cherry    200
dtype: int64

In [60]:
dict =pd.Series({"Apple": 120, "Banana": 50, "Cherry": 200})
cheap = dict[dict<60]
print(cheap)

Banana    50
dtype: int64

In [62]:
dict.sort_values(ascending=True)

Banana     50
Apple     120
Cherry    200
dtype: int64

In [63]:
dict.sort_values(ascending=False)

Cherry    200
Apple     120
Banana     50
dtype: int64