<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> 
    </div>
</div>

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
  Assignment 2nd  <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

1- Calculate and print the total price of all the products including tax

Scenario: You are managing an online store. A customer buys three products with prices $30.99, $45.50, and $60.00. The tax rate is 8%. Write a Python script to calculate and print the total price of all the products including tax.

In [1]:
pp1 = 30.99
pp2 = 45.50
pp3 = 60.00
tax = 0.08
sum = pp1+pp2+pp3
print(sum)
tax_amt = sum*tax
print(tax_amt)
total_price = sum+tax_amt
print(total_price)

136.49
10.919200000000002
147.4092

2-Calculate the Average Score of Students (Arithmetic Operators)

Scenario: You have the scores of 5 students in a class. The scores are stored in a list: [85, 90, 78, 92, 88]. Write a Python script to calculate and print the average score.

In [2]:
score = [85, 90, 78, 92, 88]
total = sum(score)
print(total)
num = len(score)
avg = total/num
print(avg)

433
86.6

3- Get the Minimum and Maximum Salary (List Operations)

Scenario: You are managing employee salaries in a company. The salaries are stored in a list: [50000, 60000, 75000, 30000, 55000]. Write a Python script to find the minimum and maximum salary.

In [3]:
salary = [50000,60000,75000,30000,55000]
print(min(salary))
print(max(salary))

30000
75000

4. Find the Length of a Tuple (Tuple Operations)

Scenario: You have a tuple containing information about a product: ('Laptop', 1200, 8, 'Dell'). Write a Python script to find the length of this tuple.

In [5]:
product = ('Laptop',1200,8,'Dell')
print(len(product))

4

5. Convert a List to a Set and Remove Duplicates (Set Operations)

Scenario: You have a list of email addresses with duplicates: ['alice@example.com', 'bob@example.com', 'alice@example.com', 'john@example.com']. Write a Python script to convert this list to a set and remove the duplicates.

In [6]:
list = ['alice@example.com', 'bob@example.com', 'alice@example.com', 'john@example.com']
set1 = set(list)
set1

{'alice@example.com', 'bob@example.com', 'john@example.com'}

In [2]:
set = {'alice@example.com', 'bob@example.com', 'alice@example.com', 'john@example.com'}
list1 = list(set)
list1

['alice@example.com', 'bob@example.com', 'john@example.com']

6. Create a Sorted List of Numbers (List Operations)

Scenario: You have a list of numbers: [34, 12, 55, 23, 89]. Write a Python script to sort the list in ascending order and print the result.

In [3]:
numbers = [34,12,55,23,89]
asc = sorted(numbers)
print(asc)

[12, 23, 34, 55, 89]

In [4]:
numbers = [34,12,55,23,89]
asc = sorted(numbers, reverse=True)
print(asc)

[89, 55, 34, 23, 12]

7. To get all the keys

Scenario: You have a dictionary of products and their prices: {'Apple': 1.2, 'Banana': 0.5, 'Orange': 0.8}. Write a Python script to get all the keys (product names) and values (prices).

In [4]:
dict = {'Apple': 1.2, 'Banana': 0.5, 'orange': 0.8}
print(dict.keys())
print(dict.values())

dict_keys(['Apple', 'Banana', 'orange'])
dict_values([1.2, 0.5, 0.8])

8: Sales Data Stored as a Dictionary (with Days as Keys)

Scenario: You have sales data stored as a dictionary, where each key is a day (e.g., 'Monday', 'Tuesday') and the corresponding value is the sales amount. For example:

In [7]:
sales_data = {
    'Monday': 150,
    'Tuesday': 200,
    'Wednesday': 175,
    'Thursday': 220,
    'Friday': 300
}
print(sales_data)

{'Monday': 150, 'Tuesday': 200, 'Wednesday': 175, 'Thursday': 220, 'Friday': 300}