<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> 
    </div>
</div>

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
   user defined function  <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

In [2]:
def total_three(a,b,c):
    return a+b+c

In [3]:
total_three(10,20,30)

60

In [4]:
total_three(10,20)

TypeError: total_three() missing 1 required positional argument: 'c'

In [5]:
total_three(10,20,40,50)

TypeError: total_three() takes 3 positional arguments but 4 were given

In [6]:
 # 5 User define function with Non keywords argument or variable positional argument(*args)
 # variable input

def funtion_name(*args):
    return args
    
def funtion_name(*abc):
    return abc

In [7]:

# *args
def function_args(*args):
    return type(args)

In [8]:
function_args()

tuple

In [9]:
def function_array(*args):
    return args

In [10]:
function_array(10,203,45,6789)

(10, 203, 45, 6789)

In [11]:
function_array(10,203,45)

(10, 203, 45)

In [12]:
def total_any(*args):
    total=0
    for i in args:
        total=total+i
    return total

In [13]:
total_any(29,890,90,90)

1099

In [15]:
def total_any(*args):
    return sum(args)

In [16]:
# 6-  User define function with keywords argument or keywords positional argument(**kwargs)

def funcntion_name(**kwargs):
    return kwargs

In [17]:
def funcntion_name(**kwargs):
    return type(kwargs)

In [18]:

funcntion_name()

dict

In [19]:
def person_summary(**kwargs):
    return kwargs

In [20]:
person_summary(Name="Ram",AGE=60, CITY="NOIDA")

{'Name': 'Ram', 'AGE': 60, 'CITY': 'NOIDA'}

In [21]:
person_summary(Name="Ram",AGE=60, CITY="NOIDA", RESULT="pass")

{'Name': 'Ram', 'AGE': 60, 'CITY': 'NOIDA', 'RESULT': 'pass'}

In [22]:
def person_summary(**kwargs):
    for i,j in kwargs.items():
        print(f'{i} is {j}')

In [23]:
person_summary(Name="Ram",AGE=60, CITY="NOIDA", RESULT="pass")

Name is Ram
AGE is 60
CITY is NOIDA
RESULT is pass

In [24]:
dt={'Name': 'Ram', 'AGE': 60, 'CITY': 'NOIDA', 'RESULT': 'pass'}

In [25]:
dt.keys()

dict_keys(['Name', 'AGE', 'CITY', 'RESULT'])

In [26]:
dt.values()

dict_values(['Ram', 60, 'NOIDA', 'pass'])

In [27]:
dt.items()

dict_items([('Name', 'Ram'), ('AGE', 60), ('CITY', 'NOIDA'), ('RESULT', 'pass')])

In [28]:
import pandas as pd
# Table : DataFrame

In [29]:
def person_summary(**kwargs):
     return pd.DataFrame(kwargs)

In [33]:

# Recursive Function 
             # Function in side function

In [34]:
def factorial_num(num):
    if num==0:
        return 1
    else:
        return num*factorial_num(num-1)

In [35]:
factorial_num(0)

1

In [36]:
factorial_num(8)

40320

In [37]:
factorial_num(3)

6

In [38]:
1*2*3*4

24

In [39]:
1*2*3*4*5

120


<div style="background-color: PINK; color: #fff; padding: 30px; text-align: center;">
    <h1>END!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>