<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> 
    </div>
</div>

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
  Python Data Structure  <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

# Dictionaary

In [1]:
# collection of all datatypes
# Data enclosed within{}
# Data always in pair- key:value
# Key cannot be duplicate but value can be
# mutable collection for value only
# Unorder collection

In [30]:
dt = {"name":"kanchan", "roll_no.": 456, "city":"Ambala", "college": "grasstech", "mobile":7898788978}

In [31]:
# function
# type
type(dt)

dict

In [32]:
#key
dt.keys()

dict_keys(['name', 'roll_no.', 'city', 'college', 'mobile'])

In [33]:
#value
dt.values()

dict_values(['kanchan', 456, 'Ambala', 'grasstech', 7898788978])

In [34]:
#item
dt.items()

dict_items([('name', 'kanchan'), ('roll_no.', 456), ('city', 'Ambala'), ('college', 'grasstech'), ('mobile', 7898788978)])

In [35]:
dt.get("name",0)

'kanchan'

In [36]:
# access data safely
dt.get("name1",0)

0

In [37]:
# picking of data
dt['city1',8]

KeyError: ('city1', 8)

In [38]:
# picking of data
dt['city']

'Ambala'

In [39]:
# Add item in dictionary
dt['pin'] = 1234

In [40]:
dt

{'name': 'kanchan',
 'roll_no.': 456,
 'city': 'Ambala',
 'college': 'grasstech',
 'mobile': 7898788978,
 'pin': 1234}

In [41]:
# if we add the new value and key is same then key stay same and update the value not add new key
# updated value

In [42]:
dt['mobile']= 9757577678

In [43]:
dt

{'name': 'kanchan',
 'roll_no.': 456,
 'city': 'Ambala',
 'college': 'grasstech',
 'mobile': 9757577678,
 'pin': 1234}

In [44]:
# delete
del dt['pin']

In [45]:
dt

{'name': 'kanchan',
 'roll_no.': 456,
 'city': 'Ambala',
 'college': 'grasstech',
 'mobile': 9757577678}

In [46]:
# new
dict = {'course':"DA","course fee": 4676767}

In [47]:
dict

{'course': 'DA', 'course fee': 4676767}

In [48]:
#Updated
dt.update(dict)

In [49]:
dict

{'course': 'DA', 'course fee': 4676767}

In [50]:
dt

{'name': 'kanchan',
 'roll_no.': 456,
 'city': 'Ambala',
 'college': 'grasstech',
 'mobile': 9757577678,
 'course': 'DA',
 'course fee': 4676767}

In [51]:
dt.clear()

In [52]:
dt

{}

# set

In [53]:
# collection of data type data
# data are in {}
# not in pair
# unordered ollection
# if you are using older version of python than it is inmutable
# otherwise mutable
# duplicate not allow
# unique records

In [54]:
st = {"kanchan",2,8,0,6,5,2}

In [55]:
st

{0, 2, 5, 6, 8, 'kanchan'}

In [56]:
len(st)

6

In [57]:
st.count()# its not working because it is already unique

AttributeError: 'set' object has no attribute 'count'

In [58]:
dir("set")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
# delete 
st.pop()

0

In [60]:
st.pop(3)# its not take any index value

TypeError: set.pop() takes no arguments (1 given)

In [61]:
#add
st.add(3)

In [62]:
st

{2, 3, 5, 6, 8, 'kanchan'}

# String

In [63]:
txt = "python"

In [64]:
txt

'python'

In [65]:
txt.lower()

'python'

In [66]:
txt.upper()

'PYTHON'

In [67]:
txt.capitalize()

'Python'

In [68]:
txt.title()

'Python'

In [69]:
#split by delimited
word = "learn python"
word.split(",")

['learn python']

In [70]:
# splite by delimited
# return data list form
word = "we learn python"
word.split()

['we', 'learn', 'python']

In [71]:
# splite by delimited
# return data list form
word = "we learn python"
word.split(",")

['we learn python']

In [72]:
news="From Metro to manufacturing . from semiconductors to start-ups, India-Japan partnership in every sector became symbol of mutual trust,” said PM Modi addressing the India-Japan Joint Economic Forum in Tokyo. Prime Minister Narendra Modi arrived in Tokyo on Friday (August 29, 2025) on a two-day visit during . which he will hold summit talks with his Japanese counterpart Shigeru Ishiba."
news.split(".")[2]

' Prime Minister Narendra Modi arrived in Tokyo on Friday (August 29, 2025) on a two-day visit during '

In [73]:
news="From Metro to manufacturing . from semiconductors to start-ups, India-Japan partnership in every sector became symbol of mutual trust,” said PM Modi addressing the India-Japan Joint Economic Forum in Tokyo. Prime Minister Narendra Modi arrived in Tokyo on Friday (August 29, 2025) on a two-day visit during . which he will hold summit talks with his Japanese counterpart Shigeru Ishiba."
news.split(".")[1]

' from semiconductors to start-ups, India-Japan partnership in every sector became symbol of mutual trust,” said PM Modi addressing the India-Japan Joint Economic Forum in Tokyo'

In [74]:
news="From Metro to manufacturing . from semiconductors to start-ups, India-Japan partnership in every sector became symbol of mutual trust,” said PM Modi addressing the India-Japan Joint Economic Forum in Tokyo. Prime Minister Narendra Modi arrived in Tokyo on Friday (August 29, 2025) on a two-day visit during . which he will hold summit talks with his Japanese counterpart Shigeru Ishiba."
news.split(".")[0]

'From Metro to manufacturing '

In [75]:
# Slice
str='Prime Minister Narendra Modi arrived in Tokyo on Friday (August 29, 2025) on a two-day visit during'

In [76]:
# slice in between
str[5:15]

' Minister '

In [77]:
str[ :15]

'Prime Minister '

In [78]:
str[ 5: ]

' Minister Narendra Modi arrived in Tokyo on Friday (August 29, 2025) on a two-day visit during'

In [79]:
str

'Prime Minister Narendra Modi arrived in Tokyo on Friday (August 29, 2025) on a two-day visit during'

In [80]:
str[5:35:3]

' nt rd dai'


<div style="background-color: PINK; color: #fff; padding: 30px; text-align: center;">
    <h1>END!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>