# panda

In [1]:
# series- 
# array with different datatype
# one dim
      # like one col means one parameter
           # multiple row
           # different datatype

In [2]:
import pandas as pd

In [3]:
pd .Series([1,78,90,4,2,78])

0     1
1    78
2    90
3     4
4     2
5    78
dtype: int64

In [8]:
sr= pd .Series([1,78,90,4,2,78],["a","b","c","d","e","f"])
sr

a     1
b    78
c    90
d     4
e     2
f    78
dtype: int64

In [10]:
# Accessing of element
sr["d"]

4

In [11]:
# Accessing of element
sr[4]

C:\Users\HP\AppData\Local\Temp\ipykernel_1636\3528426924.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr[4]

2

In [12]:
# sorting 
      # value
      # Index
sr= pd .Series([100,78,90,40,20,78],["a","b","c","d","e","f"])
sr

a    100
b     78
c     90
d     40
e     20
f     78
dtype: int64

In [13]:
sr.sort_index()

a    100
b     78
c     90
d     40
e     20
f     78
dtype: int64

In [14]:
sr.sort_values()

e     20
d     40
b     78
f     78
c     90
a    100
dtype: int64

In [15]:
# unique
print("unique record\n ", sr.unique())

unique record
  [100  78  90  40  20]

In [16]:
# frequency
sr.value_counts()

78     2
100    1
90     1
40     1
20     1
Name: count, dtype: int64

In [17]:
#Index
sr= pd .Series([1,78,90,4,2,78],["a","b","c","d","e","f"])
sr.reindex([1,2,3,4,5,6])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
dtype: float64

In [18]:
#Index
sr= pd .Series([1,78,90,4,2,78],["a","b","c","d","e","f"])
sr.reindex(["f","b","e","d","a","c"])

f    78
b    78
e     2
d     4
a     1
c    90
dtype: int64

In [20]:
#Index
sr= pd .Series([1,78,90,4,2,78],["a","b","c","d","e","f"])
sr.rename({"a":1,"b":2})

1     1
2    78
c    90
d     4
e     2
f    78
dtype: int64

In [21]:
# value 
    #- map
    #- replace
    # conditional base

In [23]:
#map
sr.map({1:200 , 78:500,90:40 ,4:1000 , 1:100 })

a     100.0
b     500.0
c      40.0
d    1000.0
e       NaN
f     500.0
dtype: float64

In [24]:
  # Replace
sr.replace(1,400)

a    400
b     78
c     90
d      4
e      2
f     78
dtype: int64

In [25]:
sr[2]=7000

C:\Users\HP\AppData\Local\Temp\ipykernel_1636\1710690213.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  sr[2]=7000

In [26]:
sr

a       1
b      78
c    7000
d       4
e       2
f      78
dtype: int64

In [27]:
# condition base
sr.where(sr>20 , other=0)

a       0
b      78
c    7000
d       0
e       0
f      78
dtype: int64

In [28]:
# Combine series
sr1=pd.Series([20,20,30,10,50,100,100],['a','b','c','d','x','e','f'])
sr2=pd.Series([20,20,30],['x','y','z'])
pd.concat([sr1,sr2])

a     20
b     20
c     30
d     10
x     50
e    100
f    100
x     20
y     20
z     30
dtype: int64

In [29]:
# accessing of element
sr

a       1
b      78
c    7000
d       4
e       2
f      78
dtype: int64

In [30]:
# picking 
sr[3]

C:\Users\HP\AppData\Local\Temp\ipykernel_1636\4166114610.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr[3]

4

In [31]:
# index - slice
sr.iloc[3:6]

d     4
e     2
f    78
dtype: int64

In [33]:
# loc - label
sr.loc["c"]

7000

In [34]:
sr[3:6]

d     4
e     2
f    78
dtype: int64

In [35]:
# slice
sr[3:6] =6000
sr

a       1
b      78
c    7000
d    6000
e    6000
f    6000
dtype: int64

In [36]:
sr[0:6:2]

a       1
c    7000
e    6000
dtype: int64

In [37]:
sr[1: :2]

b      78
d    6000
f    6000
dtype: int64

In [38]:
# DataFrame
         # Two dimesional 
                 # like table in excel , sql
         # Each can have different data type

pd.DataFrame(data,index)

# index row
# index column

NameError: name 'data' is not defined

In [39]:
pd.DataFrame([[1,'Ram','Noida'],[2,'Ramesh','Delhi'],[3,'Rohan','Delhi']])

   0       1      2
0  1     Ram  Noida
1  2  Ramesh  Delhi
2  3   Rohan  Delhi

In [40]:
# column label
pd.DataFrame([[1,'Ram','Noida'],[2,'Ramesh','Delhi'],[3,'Rohan','Delhi']], columns=['id','name','city'])

   id    name   city
0   1     Ram  Noida
1   2  Ramesh  Delhi
2   3   Rohan  Delhi

In [41]:
# column label
pd.DataFrame([[1,'Ram','Noida'],[2,'Ramesh','Delhi'],[3,'Rohan','Delhi']], columns=['id','name','city'], index=[1,2,3])

   id    name   city
1   1     Ram  Noida
2   2  Ramesh  Delhi
3   3   Rohan  Delhi

In [42]:
print(dir("DataFrame"))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [43]:
df=pd.DataFrame([[1,'Ram','Noida'],[2,'Ramesh','Delhi'],[3,'Rohan','Delhi']], columns=['id','name','city']).set_index("id")

In [44]:
df

      name   city
id
1      Ram  Noida
2   Ramesh  Delhi
3    Rohan  Delhi