# Panda

In [1]:
#Data Analysis
#-----------------

# Pandas
      # Pandas is a library
           # Data analysis and manipulation

     # 1- Easy and power full to handle data data
     # 2- Complex data analysis
     # 3- Different data format (excel , csv , json...
     # 4- intergrate with other library
     # 5- Different data structure or Frame
     # 6- High peformance
     # 7- for larage dataset more eiffiently than list or dictionary

In [2]:
#Frame
    # Data in pandas within one of frame 
                 # 1- Series
                           # one dim 
                                  # like Single column multiple row
                                  # different datatype
                 # 2- DataFrame
                        # two dim
                              # like table (excel , sql)
                              # each column have single type of data

In [3]:

#Series
         # one dim 
                # like Single column multiple row             
                # different datatype

     # pd.Series(data, index)
     # pd.Series(ls)  # bedfault index : 0,1,2,3,4

In [4]:
# CREATE SERIES

  # 1- Empty series
  # 2- Series form list
  # 3-Series form dictionary

In [5]:
import pandas as pd

In [6]:
# 1- empty series
pd.Series()

Series([], dtype: object)

In [8]:
pd.Series([1,2,5,7,9,30])

0     1
1     2
2     5
3     7
4     9
5    30
dtype: int64

In [9]:
Marks = ["Hindi","english","Math"]
pd.Series(Marks)

0      Hindi
1    english
2       Math
dtype: object

In [10]:
# custom index
ls = [100,200,599,9000,788]
id = ["A1","A2","A3","A4","A5"]
pd.Series(ls,id)

A1     100
A2     200
A3     599
A4    9000
A5     788
dtype: int64

In [13]:
# Dictionary
          # key : index
         # values : data
dt={"Hindi":60,"Eng":45,"Phy":65,"Chem":67,"Math":68,"SC":80,"GEO":50,"Hist":50}
sr=pd.Series(dt)
sr

Hindi    60
Eng      45
Phy      65
Chem     67
Math     68
SC       80
GEO      50
Hist     50
dtype: int64

In [14]:
# Attributes
  # head() # by defualt first five row
  # tail() # by defualt last five row
  # Sample() : Random  Row
  # ndim     : one dim
  # size     : number of element

In [15]:
sr.head()

Hindi    60
Eng      45
Phy      65
Chem     67
Math     68
dtype: int64

In [16]:
sr.head(3)

Hindi    60
Eng      45
Phy      65
dtype: int64

In [18]:
sr.ndim

1

In [22]:
sr.sample()

Chem    67
dtype: int64

In [23]:
sr.sample(4)

Math    68
Hist    50
SC      80
Eng     45
dtype: int64

In [25]:
sr.size

8

In [26]:
# Accessing of data
       # label 
       # index number

In [27]:
sr["Hindi"]

60

In [28]:
sr[0]

C:\Users\HP\AppData\Local\Temp\ipykernel_4844\3717362250.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr[0]

60

In [29]:

# NEW SERIES
sr1=pd.Series([10,20,30,40,50,60,70],[0,1,2,3,4,5,6])
sr1

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [30]:

sr2=pd.Series([10,20,30,40,50,60,70],["d0","d1","d2","d3","d4","d5","d6"])
sr2

d0    10
d1    20
d2    30
d3    40
d4    50
d5    60
d6    70
dtype: int64

In [31]:
sr1[3]

40

In [32]:
sr1=pd.Series([10,20,30,40,50,60,70],[0,1,2,3,4,5,6])
sr1=pd.Series([10,20,30,40,50,60,70],[100,200,300,400,500,600,700])

In [33]:
sr1[100]

10

In [34]:
# Arth Operation
sr1=pd.Series([10,20,30,40,50,60,70],[0,1,2,3,4,5,6])

In [35]:
sr1+5

0    15
1    25
2    35
3    45
4    55
5    65
6    75
dtype: int64

In [36]:
sr1*2

0     20
1     40
2     60
3     80
4    100
5    120
6    140
dtype: int64

In [37]:
sr1/2

0     5.0
1    10.0
2    15.0
3    20.0
4    25.0
5    30.0
6    35.0
dtype: float64

In [38]:
sr2=pd.Series([10,20,30,40,50,60,70],[0,1,2,3,4,5,6])

In [39]:
sr1+sr2

0     20
1     40
2     60
3     80
4    100
5    120
6    140
dtype: int64

In [40]:
sr1-sr2

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [41]:
# STAT
sr1.sum()

280

In [42]:
sr1.count()

7

In [43]:
sr1.mean()

40.0

In [45]:
sr1.min()

10

In [46]:
sr1.max()

70

In [47]:
# Comparion
sr1>30

0    False
1    False
2    False
3     True
4     True
5     True
6     True
dtype: bool

In [48]:
sr1==30

0    False
1    False
2     True
3    False
4    False
5    False
6    False
dtype: bool

In [49]:
sr1<=30

0     True
1     True
2     True
3    False
4    False
5    False
6    False
dtype: bool

In [50]:
# FIlter
sr1[sr1<=30]

0    10
1    20
2    30
dtype: int64

In [51]:
#looping function Apply
sr1.apply(lambda x:x**2)

0     100
1     400
2     900
3    1600
4    2500
5    3600
6    4900
dtype: int64

In [54]:
# Missing data handle
ms=[10,'NAME',None,50,50,60,70,60] 
ms=pd.Series(ms)
ms

0      10
1    NAME
2    None
3      50
4      50
5      60
6      70
7      60
dtype: object

In [53]:
#missing find
ms.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [55]:
ms.notnull()

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7     True
dtype: bool

In [56]:
ms.fillna(30)

0      10
1    NAME
2      30
3      50
4      50
5      60
6      70
7      60
dtype: object

In [57]:
ms.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [58]:
ms.fillna(ms.mean())

TypeError: unsupported operand type(s) for +: 'int' and 'str'