<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> 
    </div>
</div>

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
   loops in Python   <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

# loops
- control the flow of execution statement
- Repeatation of execution code

## 1. statement
- single line
- multiple line ; block

## 2. logical test
   - True
   - False

### conditional statement 
- check single time
### loop
- check multiple time

# There are two types of loops in python
- for loop
- while loop

#  For loop
- finite loop
- Repeatedly of excecuton of code over  sequence
- sequence: limit(start point , end point)
- eg. string , list , tuple , range.....

### syntax

for logical test:
       body of for loop

In [2]:
# for loop over a string
words = "python"
for word in words:
    print(word)

p
y
t
h
o
n

In [4]:

words = "python"
for x in words:
    print("india")

india
india
india
india
india
india

In [5]:
words = "python"
for word in words:
    print("india")
else:
    print("sequence end")

india
india
india
india
india
india
sequence end

In [6]:
# for loop over list
fruit = ["mango", "orange", "apple", "kiwi"]
for x in fruit:
    print(x)

mango
orange
apple
kiwi

# Range function

### Single in range
- range: n-end
- iteration till end point:n-1
### Two value in range
- (m,n):start point:m , end point: n-1
### Three value in range
- (m,n,s):start point:m , end point: n-1, s:step

In [ ]:
# single loop range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
# Two value in range
for i in range(2,11):
    print(i)

2
3
4
5
6
7
8
9
10

In [13]:
for i in range(10,26):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
# Three value in range
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [20]:
n = 1
m = 40
for i in range(n,m):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [ ]:
# table creation 
tab = 2
for i in range(1,11):
    print(tab,"*",i,"=",tab*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [22]:
tab = int(input("enter the digit"))
for i in range(1,11):
    print(tab,"*",i,"=",tab*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [27]:
# wap to find even  number between 10 to 50
for i in range(10,51):
    if i%2==0:
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [28]:
for i in range(10,51):
    if i%5==0:
        print(i)

10
15
20
25
30
35
40
45
50

In [29]:
#wap to find the number btw 10 to 50 which divided by 2 and 5
for i in range(10,51):
    if i%2==0 and i%5==0:
        print(i)

10
20
30
40
50

In [32]:
# wap to find even and odd number between 10 to 50 return value in list
for i in range(1,51):
    if i%2==0 :
        print("even",i)
    else:
        print("odd",i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30
odd 31
even 32
odd 33
even 34
odd 35
even 36
odd 37
even 38
odd 39
even 40
odd 41
even 42
odd 43
even 44
odd 45
even 46
odd 47
even 48
odd 49
even 50

In [35]:
even = []
odd = []
for i in range(1,51):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("even number",even)
print("odd number",odd)

even number [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
odd number [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]


<div style="background-color: PINK; color: #fff; padding: 30px; text-align: center;">
    <h1>END!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>