<div style="background-color:rgb(116, 3, 3); padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> 
    </div>
</div>

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
 Baics of Python<br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

In [ ]:
# Comment
        # Simgle 
        # Put hash sign before each

In [1]:
# Keywords
          # Reserver words - words wich have predefine definition

help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [2]:
help("lambda")

Lambdas
*******

   lambda_expr ::= "lambda" [parameter_list] ":" expression

Lambda expressions (sometimes called lambda forms) are used to create
anonymous functions. The expression "lambda parameters: expression"
yields a function object.  The unnamed object behaves like a function
object defined with:

   def <lambda>(parameters):
       return expression

See section Function definitions for the syntax of parameter lists.
Note that functions created with lambda expressions cannot contain
statements or annotations.

Related help topics: FUNCTIONS

In [4]:
help("if")

The "if" statement
******************

The "if" statement is used for conditional execution:

   if_stmt ::= "if" assignment_expression ":" suite
               ("elif" assignment_expression ":" suite)*
               ["else" ":" suite]

It selects exactly one of the suites by evaluating the expressions one
by one until one is found to be true (see section Boolean operations
for the definition of true and false); then that suite is executed
(and no other part of the "if" statement is executed or evaluated).
If all expressions are false, the suite of the "else" clause, if
present, is executed.

Related help topics: TRUTHVALUE

In [6]:
# Variable
        # work as placehold where single value can hold
        # variable is the name of momery location where single value can hold


a=10

#variable :a
#value : 10
#equal to : assign

In [7]:
a = 10 
a

10

In [8]:
id(a)

140707449551576

In [9]:
#Rules Name

    # 1- Variable always start with character
    # 2- It can be alphanumeric but number can not come first
    # 3- No Special Charater 
    # 4-Undercore are allow
    # 5- Multiple words coumn not allow with space

In [ ]:
a = 10
a

10

In [11]:
1b = 7
1b

SyntaxError: invalid decimal literal (1158579698.py, line 1)

In [12]:
b1 = 19
b1

19

In [13]:
b@ = 112
b@

SyntaxError: invalid syntax (3975995668.py, line 1)

In [14]:
tota sales = 790
total sales

SyntaxError: invalid syntax (4094367280.py, line 1)

In [15]:
total_sales = 790
total_sales

790

In [16]:
# Operators
# To perform operations 

# Arithemetic Operator
# Comparison or Relational Operators
# Logical Operators
# Membership Operators
# Indentity Operators
# Assignment Operators
# Bitwiese Operators

In [17]:
# Arithemetic Operator
# + , - , * , / (float)
# power : **
# remainder :%
# division  : // (int)

In [18]:
a = 10
b = 9

In [19]:
a+b

19

In [20]:
a-b

1

In [21]:
a/b

1.1111111111111112

In [22]:
a*b

90

In [23]:
a%b

1

In [24]:
a//b

1

In [25]:
# Comparison or Relational Operators
#==, !=,< , > , >= ,<= 
# O/P return in form True or False

In [26]:

num1=20
num2=30

In [27]:
num1 == num2

False

In [28]:
num1 != num2

True

In [29]:
num2 > num1

True

In [30]:

# Membership Operators
  # in  : True if value inside the collection 
  # not in True if value not inside the collection

In [31]:
ls=[10,20,30,40,50,60,70]
40 in ls

True

In [32]:
bs = [1,79,90,6,2,3]
1 not in bs

False

In [33]:
bs = [1,79,90,6,2,3]
1  in bs

True

In [34]:
# Indentity Operators
       # is  ----------True : the values are same
       # is not  ------True : the  values are not same

In [35]:
a = 10 
b = 10 
c = 21

In [36]:
a is b

True

In [37]:
a is c

False

In [38]:
id(a)

140707449551576

In [39]:
id(b)

140707449551576

In [40]:
# Assignment Operators

a=10
a=a+20
#a+=20
#a-=20
#a*=20
#a/=20

In [41]:
a=10
a=a+20
print(a)

30

In [42]:
# Bitwise Operators
     # Binary numerbs

# and &
# or  |

In [43]:
0 & 1

0

In [44]:

0 | 1

1

In [45]:
False and True

False

In [46]:
False or True

True

In [47]:
6 & 3

2


<div style="background-color: green; color: #fff; padding: 30px; text-align: center;">
    <h1>END!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>