### Print Statement

In [2]:
print(90)

90

In [3]:
print('kanchan sharma')

kanchan sharma

In [4]:
# statement
 # single line  : single or double quotes
 # multiple line : triple quotes

In [5]:
print('hello world')

hello world

In [6]:
print("hey kanchan")

hey kanchan

In [8]:
print("3*4")

3*4

In [9]:
print("""The duties set out in the Annex to this document are effective with
respect to products of India that are entered for consum
or withdrawn from warehouse for consumption, on
or after 12:01 a.m. eastern daylight time
on August 27, 2025,” the DHS notification said""")

The duties set out in the Annex to this document are effective with
respect to products of India that are entered for consum
or withdrawn from warehouse for consumption, on
or after 12:01 a.m. eastern daylight time
on August 27, 2025,” the DHS notification said

In [10]:

# Print from next line or new line : \n
print("The duties set out in the Annex.\n to this document are \neffective with")

The duties set out in the Annex.
 to this document are
effective with

In [11]:
#print by variable with statement
city = "chandigarh"
print("I live in",city)

I live in chandigarh

In [13]:
city = "noida"
study = "DA"
print("we study in",city,"i study ",study)

we study in noida i study  DA

In [14]:
city='NOIDA'
print(city,'I study')

NOIDA I study

In [15]:
# print with method
a=10
b=20
c=20
print(a,b,c, sep=",")

10,20,20

In [16]:
# print with method
a=10
b=20
c=20
print(a,b,c, sep="/")

10/20/20

In [18]:
# print with method
a=10
b=20
c=20
print(a,b,c, sep=",", end="!")

10,20,20!

In [19]:

# print from next line format method
print(f"{a}\n{b}\n{c}")

10
20
20

In [21]:
# format method
city1="Noida"
city2="Delhi"
print("I live in {} and I study in {}".format(city1,city2) )

I live in Noida and I study in Delhi

In [22]:
print("I live in {1} and study in {0}".format(city1,city2))

I live in Delhi and study in Noida

### Data Types

In [24]:
# Datatype ( main data type)
      # Every value in pyhton have their data type
      #variable : can hold single value

    # Categorical data type 
               # String : collection of characters
                        #: always enclosed within quotes

              # 'RAM', 'NOIDA' , "PRODUCT"

   # Numerical data type
              #1    int : whole number  : 10,20,324,45,67
              # 2- float : decimal   : 20.34, 45.0
             # 3- Complex : real+imgin : 10+20j
  # boolen 
             # True 
             # False

In [25]:
# check data type

a=10
type(a)

int

In [26]:
num = 0.13
type(num)

float

In [27]:
num2=10+40j
type(num2)

complex

In [28]:
name="python"
type(name)

str

In [29]:
status= True
print(type(status))

<class 'bool'>

In [30]:
# Conversion of data type
     # implicit data type - Automitc conversion 
     # explicit data type - Custom Conversion

In [31]:
# implicit data type - Automitc conversion 
a=10
b=30.67
c=a+b

In [32]:
print(c)
type(c)

40.67

float

In [37]:
 # explicit data type - Custom Conversion
a=10
b=float(a)
print(type(b))
print(b)

<class 'float'>
10.0

In [36]:
b = 23.67
a = int(b)
print(type(a))
print(a)

<class 'int'>
23

In [39]:
print(float(10))

10.0

In [41]:
print(int(190.8))

190

In [43]:
num = "78.09"
a = float(num)
b = int(a)
b

78

In [44]:
num="45.67"
b=float(num)
c=int(b)
print(c)

45

In [45]:
type(num)

str

In [46]:
int(float(num))

45

In [47]:
"abc123"
"*1234"

'*1234'